body {
  margin: 0;
  background: url(../images/background.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.App-container {

  .headline {
    font-family: 'Montserrat', serif;
    color: #ffffff;
    font-size: 40px;
    font-weight: bolder;
    margin-left: 130px;
    position: absolute;
    top: 40px;
    line-height: initial;
  }

  .App-header {

    .logo {
      width: 120px;
      position: absolute;
      top: 10px;
      right: 5px;
    }
  }

  .jumbotron {
    background-color: #ffffff;
    &.\33 {
      height: 555px;
    }

    &.faq {
      margin: 4% 19% 25% 25%;
      height: 555px;
      max-width: 1024px;
      overflow: auto;

      .accordion {
          .title:not(:first-child) {
            border-top: 0.5px solid rgb(213, 213, 213);
          }
          .title {
            font-family: 'Montserrat', serif;
            color: rgb(0, 60, 132);
            font-weight: bold;
            font-size: 16px;
            padding: 1em 0;
          }
        .indent {
          font-family: 'Montserrat', serif;
          line-height: 1.4;
          font-weight: 400;
          font-size: 14px;
        }
        .accordion {
          margin: 0;
          padding-left: 45px;
          .indent {
            margin-left: 22px;
          }
          .title {
            font-size: 14px;
            border-top: 0.5px solid rgb(213, 213, 213);
          }
        }
      }
    }

    .attendee {
      margin-top: -40px;
      font-family: 'Montserrat', serif;
      font-weight: 300;
      color: rgb(10,10,10);
      line-height: 1.2;
      font-size: 32px;
    }

    .step {
      font-family: 'Montserrat', serif;
      font-weight: 300;
      color: #ffffff;
      position: relative;
      top: -19%;
      left: 100%;
    }

    &.sign {
      height: 400px;
      width: 535px;
      margin-top: 150px;
      margin-left: 130px;
      background-color: #00234c;
      opacity: .9;
    }

    margin: 4% 19% 25% 21%;
    height: 525px;
    max-width: 1024px;

    .request {
      font-family: 'Montserrat', serif;
      font-weight: bold;
      font-size: 20px;
      color: #ffffff;
      margin-top: -25px;
      margin-bottom: 25px;
      margin-left: 15px;
    }

    .reset {
      color: #ffffff;
      font-family: 'Montserrat', serif;
      font-weight: normal;
      font-size: 16px;
    }

    .sign-up {
      font-family: 'Poppins', sans-serif;
      height: 42px;
      width: 208px;
      background-color: #ffec53;
      font-size: 16px;
      color: black;

      &:hover {
        background-color: #fce427;
      }
    }

    .welcome {
      position: relative;
      top: -50px;
      margin-bottom: -40px;
      margin-left: 10px;
      font-family: 'Montserrat', serif;
      font-weight: 300;
      font-size: 20px;
      color: #000000;

      &.admin {
        margin-left: 0;
      }
    }

    .successMark {
      width: 50px;
      margin-left: 47%;
    }

    .material-icons {
      color: rgb(255,66,0);
      position: relative;
      top: 4px;
      left: -50px;
    }

    .forgot {
      margin-top: 10px;
      margin-left: -45px;
      font-family: 'Poppins', sans-serif;
      color: #ffffff;

      &:hover {
        cursor: pointer;
      }

      &.password {
        color: rgb(255,66,0);
        margin-left: -50px;
      }

      &.cancel {
        margin-left: -105px;
      }
    }

    .line-break {
      margin-top: 5px;
      margin-bottom: 20px;
      opacity: .48;
      border-top: 1px solid #ffffff;
    }

    .account {
      font-family: 'Montserrat', serif;
      font-size: 21px;
      color: #ffffff;

      a {
        text-decoration: none !important;
      }

      .register {
        font-weight: bold;
        font-size: 21px;
        color: #ffec53;
        text-decoration: none !important;
        border-bottom: #ffec53 0.125em solid;

        &:hover {
          text-decoration: none !important;
        }
      }
    }

    .button-style {
      padding: 0.25rem 2.50rem;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: #002b5e;

      img {
        width: 30px;
        height: 30px;
        padding: 5px;
      }
    }
  }
}

.form-row {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -2px;

  &.adjust {
    margin-bottom: 10px;
  }
}

.form-control {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  border-color: #787878;
}

.sign-out {
  img {
    width: 30px;
    height: 30px;
    padding: 5px;
    margin-bottom: 2px;
  }

  color: #002b5e;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 0.25rem 2.50rem;
  border: none;

  &:hover, :active, :visited, :focus, :not(:disabled):not(.disabled):active {
    border: none;
  }
}

.previous {
  margin-right: 5px;
  background-color: #f2f2f2 !important;
  border-color: #f2f2f2 !important;

  &:hover, :active, :visited, :focus, :not(:disabled):not(.disabled):active {
    background-color: #e4e2e2 !important;
    border-color: #e4e2e2 !important;
  }
}

.next {
  background-color: #ffec53 !important;
  border-color: #ffec53 !important;

  &:hover, :active, :visited, :focus, :not(:disabled):not(.disabled):active {
    background-color: #fce427 !important;
    border-color: #fce427 !important;
  }
}

.download {
  background-color: #f2f2f2 !important;
  border-color: #f2f2f2 !important;

  &:hover, :active, :visited, :focus, :not(:disabled):not(.disabled):active {
    background-color: #e4e2e2 !important;
    border-color: #e4e2e2 !important;
  }
}

.admin-top {
  position: relative;
  top: -50px;
}

.button-style {
  padding: 0.25rem 2.50rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #002b5e;

  img {
    width: 30px;
    height: 30px;
    padding: 5px;
  }
}

.lead {
  font-family: 'Montserrat', serif;
  font-weight: bold;
  font-size: 14px;
  color: #003c84;
  &.break-width {
    width: 160%;
  }
  &.semantic {
    margin-bottom: 1rem;
  }
}

.light-label {
  font-family: 'Montserrat', serif;
  font-weight: bold;
  font-size: 12px;
  margin-top: 5px;
}


.required {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #df6900;
  margin-left: 5px;
  margin-top: 5px;
  font-weight: normal;
}

.required-break {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #df6900;
  margin-left: 5px;
  margin-top: 5px;
  font-weight: normal;
}

.optional {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #999999;
  margin-left: 85px;
  margin-top: 5px;
  font-weight: normal;
}

.breaker {
  border-style: dotted;
  border-color: #a3a3a3;
  margin-top: .5rem;
  margin-bottom: .5rem;

  &.setter {
    margin-top: 20.5rem;
  }
}

.alert-note {
  font-family: 'Montserrat', serif;
  font-weight: 500;
  color: #003c84;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: -5px;
}

.thank-you {
  font-family: 'Montserrat', serif;
  color: #003c84;
  font-size: 14px;
  font-weight: bold;
}

.bottom {
  position: relative;
  top: 55%;
}

.admin-form {
  margin-top: -70px;
}

@media only screen
and (max-width: 992px) {
  body {
    overflow-y: visible;

    .App-container {
      .jumbotron {
        margin: 21% 0 0 0;
        height: 825px;

        &.\33 {
          height: 1160px;
        }

        &.faq {
          margin: 21% 0 0 0;
          height: 825px;
        }

        .step {
          top: -8%;
        }
      }
    }
  }
}

@media only screen
and (max-device-width: 450px) {
  body {
    overflow-y:visible;
    .App-container {
      .jumbotron {
        margin: 21% 0 0 0;
        height: 825px;
        &.\33 {
          height: 825px;
        }

        &.faq {
          margin: 21% 0 0 0;
          height: 825px;
        }

        .button-style {
          padding: 0.25rem 2rem;
        }

        .welcome {
          top: -25px;
          margin-bottom: -15px;
        }

        .step {
          top: 9%;
          right: 0%;
          position: absolute;
          left: initial;
        }

        .material-icons {
          left: -5px;
        }

        &.sign {
          margin: 100% 0 0 0;
          width: auto;
          height: 450px;
        }

        .container {
          &.text-center {
            text-align: initial !important;
            margin-left: -15px;
            margin-top: 20px;
          }

          .sign-up {
            width: 145px;
          }

          .forgot {
            margin-left: 5px;
            font-size: 12px;
            margin-top: 5px;
            &.password {
              margin-left: 0;
            }
          }

          .account {
            margin-left: 15px;
          }
        }

        .break {
          flex-wrap: nowrap;
        }

        .bottom-margin {
          margin-bottom: 15px;
        }

        .required {
          margin-left: 96px;
          font-weight: normal;
        }

        .optional {
          margin-left: 70px;
          font-weight: normal;
        }

        .required-break {
          margin-left: 18px;
          font-family: 'Poppins', sans-serif;
          font-weight: normal;
          font-size: 12px;
          color: #df6900;
        }

        .select {
          margin-top: 5px;
        }

        .form-group {
          line-height: .75;
          margin-bottom: .5rem;

          .alert-note {
            line-height: 1;
            margin-bottom: 0;
          }

          &.mobile {
            line-height: 1.5;
          }

          &.margin-bottom-95 {
            margin-bottom: 95px;
          }

          &.margin-bottom-80 {
            margin-bottom: 80px;
          }

          &.margin-bottom-160 {
            margin-bottom: 160px;
          }

          &.absolute {
            position: absolute;
          }

          &.exe-email {
            top: 182px;
            width: 87%;
          }

          &.eme-email {
            top: 323px;
            width: 87%;
          }

          &.exe-op {
            top: 223px;
            width: 45%;
          }

          &.exe-mp {
            top: 223px;
            width: 44%;
            left: 50%;
          }

          &.eme-mp {
            top: 360px;
            width: 87%;
          }

          &.arrival {
            top: 397px;
            width: 43%;
          }

          &.flight {
            left: 50%;
          }

          &.airline {
            top: 435px;
            width: 43%;
          }

          &.info {
            width: 86%;
            top: 469px;
          }

          .optional-break {
            position: absolute;
            top: -63px;
            left: 192px;
          }
        }

        .breaker {
          margin-top: .25rem;
          margin-bottom: 1rem;
        }

        .sign-out {
          position: absolute;
          top: 0;
          color: #ffffff;
          right: -30px;
          img {
            display: none;
          }
          &.move-top {
            top: -801px;
          }
          &:hover, :active, :visited, :focus, :not(:disabled):not(.disabled):active {
            border: none;
          }
        }

        .attendee {
          margin-top: -18px;
          font-size: 26px;
        }
      }

      .App-header {
        .logo {
          left: 22px;
          top: 22px;
        }
      }

      .headline {
        font-size: 35px;
        top: 120px;
        margin-left: 20px;

        .line1, .line2 {
          display: inline;
        }

        .line2 {
          margin-left: 10px;
        }
      }
    }
  }
}
