body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.App-container {
  background-image: url(../images/arizona.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200vh;

  .App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    color: white;

    .logo {
      width: 120px;
      margin-top: 5px;
    }

    .headline {
     margin-top: 15px;
    }
  }

  .jumbotron {
    margin-left: 25%;
    margin-right: 25%;
    height: 770px;

    .sign-in {
      position: relative;
      top: 140px;
    }

    .sign-up {
      margin-right: 20px;
    }

    .welcome {
      position: relative;
      top: -60px;
    }

    .successMark {
      width: 50px;
      margin-left: 47%;
    }

    .forgot {
      margin-bottom: 0;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.lead {
  margin-top: -55px;
}

.previous {
  margin-right: 5px;
}

